@import "./button";
@import "./tooltip";

body {
  overflow-y: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 640px) {
    background: url("../graphics/background_640.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  @media (min-width: 641px) and (max-width: 1280px) {
    background: url("../graphics/background_1280.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  @media (min-width: 1281px) {
    background: url("../graphics/background_1920.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  & * {
    box-sizing: border-box;
  }
}

.selector-item__coin {
  color: #1a86db;
  width: 300px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #1a86db;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 2px;
}

.selector-item {
  width: 300px;
}

.virtualized {
  background-color: #2c303a;
  animation: fade_in 1s ease-in-out forwards;
  box-shadow: inset 0 0 5px #1e1f26, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  color: white;
  padding: 20px;
  font-size: 1rem;
  border: 2px solid #1e1f26;
  border-radius: 2px;
  margin: 2vh 0;
  cursor: pointer;
  &:hover {
    border: 2px solid #ee760a;
  }

  & .Select-placeholder {
    color: white;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
  }

  & input {
    width: 100% !important;
    margin: 0 auto;
    display: block;
    border: 1px solid white;
    border-radius: 1px;
    background: transparent;
    color: white;
    font-size: 1rem;
    padding: 0 2px;
    box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.54);
  }
  & .Select-menu-outer span:hover {
    background-color: white;
  }
}
.DataContainer {
  ///aktualny
  margin: 0 auto;
  height: 110px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  background: mintcream;
  border-top: 2px solid #4b7de6;
  border-right: 2px solid #4b7de6;
  border-bottom: 2px solid #4b7de6;
  color: #726b68;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  align-items: center;
}
.Select-multi-value-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DataContainer::before {
  min-width: 110px;
  content: "ALTCOINS";

  @media (max-width: 1000px) {
    min-width: 246px;
  }
  height: 20px;
  background-color: #2692c3;
  background-color: #4b7de6;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -45px;

  @media (max-width: 1000px) {
    left: -112.5px;
  }

  color: white;
  font-size: 10px;
  transform: rotate(270deg);
}

@media (max-width: 1000px) {
  .DataContainer {
    border: none;
    flex-direction: column;
    height: unset;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .DataContainer::before {
    width: inherit;
    left: 0;
    top: -20px;
    transform: none;
  }
}

.clock {
  position: fixed;
}

.logo {
  margin-right: 3px;
}

.selection-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: transparent;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 36px;

.search__logo {
  text-align: center;
  font-weight: 700;
  left: 50%;
  top: 45%;
  margin: 0 1vw;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: #000;
  letter-spacing: -0.05rem;
  text-shadow: -2px -2px 1px #ff6, 2px -2px 1px #ff6, -2px 2px 1px #ff6, 2px 2px 1px #ff6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
