body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
@media (max-width: 640px) {
  #root {
    background: url("../graphics/background_640.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 641px) and (max-width: 1280px) {
  #root {
    background: url("../graphics/background_1280.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 1281px) {
  #root {
    background: url("../graphics/background_1920.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
#root * {
  box-sizing: border-box;
}

.selector-item__coin {
  color: #1a86db;
  width: 300px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #1a86db;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 2px;
}

.selector-item {
  width: 300px;
}

.DataContainer {
  margin: 0 auto;
  height: 110px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  background: mintcream;
  border-top: 2px solid #4b7de6;
  border-right: 2px solid #4b7de6;
  border-bottom: 2px solid #4b7de6;
  color: #726b68;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  align-items: center;
}
.DataContainer .logo {
  margin-right: 3px;
}

.Select-multi-value-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DataContainer::before {
  min-width: 110px;
  content: "ALTCOINS";
  height: 20px;
  background-color: #2692c3;
  background-color: #4b7de6;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -45px;
  color: white;
  font-size: 10px;
  transform: rotate(270deg);
}
@media (max-width: 1000px) {
  .DataContainer::before {
    min-width: 246px;
  }
}
@media (max-width: 1000px) {
  .DataContainer::before {
    left: -112.5px;
  }
}

@media (max-width: 1000px) {
  .DataContainer {
    border: none;
    flex-direction: column;
    height: unset;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .DataContainer::before {
    width: inherit;
    left: 0;
    top: -20px;
    transform: none;
  }
}
.clock {
  position: fixed;
}

.search__logo {
  text-align: center;
  font-weight: 700;
  left: 50%;
  top: 45%;
  margin: 0 1vw;
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
  color: #000;
  letter-spacing: -0.05rem;
  text-shadow: -2px -2px 1px #ff6, 2px -2px 1px #ff6, -2px 2px 1px #ff6, 2px 2px 1px #ff6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.search__logo {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .search__logo {
    font-size: calc(16px + 20 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .search__logo {
    font-size: 36px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */