.PricesWithButtons {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  @media (max-width: 850px) {
    grid-template-columns: repeat(4, 1fr);
    & :nth-child(5) {
      border-left: none;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    & :nth-child(odd) {
      border-left: none;
    }
  }

  @media (max-width: 400px) {
    width: 100%;
  }

  @media (max-width: 300px) {
    grid-template-columns: repeat(1, 1fr);
    & * {
      border-left: none;
    }
  }

  & :first-child {
    @media (max-width: 1000px) {
      border-left: none;
    }
  }
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
  padding: 0 4px;
  border-left: 2px solid #9db9f5;
}

.DataContainer {
  ///aktualny
  margin: 0 auto;
  height: 110px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  background: mintcream;
  border-top: 2px solid #4b7de6;
  border-right: 2px solid #4b7de6;
  border-bottom: 2px solid #4b7de6;
  color: #726b68;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  align-items: center;

  & .logo {
    margin-right: 3px;
  }
}

.DataContainer::before {
  min-width: 110px;
  content: "ALTCOINS";

  @media (max-width: 1000px) {
    min-width: 246px;
  }
  height: 20px;
  background-color: #2692c3;
  background-color: #4b7de6;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -45px;

  @media (max-width: 1000px) {
    left: -112.5px;
  }

  color: white;
  font-size: 10px;
  transform: rotate(270deg);
}

@media (max-width: 1000px) {
  .DataContainer {
    border: none;
    flex-direction: column;
    height: unset;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .DataContainer::before {
    width: inherit;
    left: 0;
    top: -20px;
    transform: none;
  }
}
